/Feb2013/Ei200/*.raw

/Aug10_v1/SPE_EI200/*.raw

/Aug10_v1/Mantid/*.nxs

/Feb2013/Ei800/*.RAW

/Aug10_v1/sqw/intermediate_working_stuff/SPE_EI787/*.RAW
/Feb2013/EI1400/*.raw

/Aug10_v1/sqw/*.sqw

/Aug10_v1/sqw/intermediate_working_stuff/SPE_EI787/SPE_EI100/*.nxs

/Feb2013/EI400/*.raw

/Feb2013/EI400/*.nxspe

/Fe_Mantid/*.nxs

/Feb2013/sqw/*.sqw
*.nxs

*.raw

*.spe

*.nxspe

*.zip
